
table{
    width: 100%;
}

table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
    
}

table tr td{
    padding: 1%;
}
.tbl-full {
    
    width: 100%;
}

a.btn-primary{
    background-color: #ff4757;
    padding: 1%;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}


a.btn-primary:hover{
    background-color: blue;
}
.btn-secondary{
    background-color: red;
}